.landingpage {

    display: flex;

    width: 100%;
    height: 100vh;
}


.headder {
    display: flex;
    flex-direction: row;
    position: absolute;
    color: white;
    font-family: futura-pt, sans-serif;
    font-style: normal;
    width: 100%;
    margin-top: 5%;

}

.logo {
    margin-left: 5%;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 25%;
    margin-left: 45%;
}

h1 {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: top;
    font-weight: 450;
    margin-top: 5%;
    margin-right: 5%;
    font-size: xx-large;
    transition: all .5s ease-in-out;
}

h1:hover {

    cursor: pointer;
    transform: scale(1.05);
    transition: all .5s;


}

.signUpButt {
    position: relative;
    display: flex;
    margin-top: 10%;

    font-weight: 300;



}

.logInButt {
    position: relative;
    display: flex;
    margin-top: 5%;
    font-weight: 300;


}

.logIn {
    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-size: larger;
    color: white;
    width: 200px;
    height: 40px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 20px;
    transition: all 1s ease-in-out;

}

.signUp {
    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-size: larger;
    color: white;
    width: 200px;
    height: 40px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 20px;
    transition: all 1s ease-in-out;

}

.logIn:hover {
    cursor: pointer;
    color: black;
    width: 200px;
    height: 40px;
    background-color: white;
    border: 2px solid white;
    border-radius: 20px;
    transform: scale(1.05);
    transition: all 1s ease-in-out;

}

.signUp:hover {
    cursor: pointer;
    color: black;
    width: 200px;
    height: 40px;
    background-color: white;
    border: 2px solid white;
    border-radius: 20px;
    transform: scale(1.05);
    transition: all 1s ease-in-out;

}

.buttons {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15%;
    margin-left: 5%;
}

.tag {
    position: relative;
    display: flex;
    margin-top: 0%;
    margin-left: -1%;


}