.container {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "Img Content Content"
        "Img Content Content"
        "Img Content Content"
        "Img Content Content"
        "Img Content Content"
        "Img Content Content";
}

.About-Img {
    grid-area: Img;

}

.Content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "Head Head Head"
        "Body Body Body"
        "Body Body Body"
        "Body Body Body"
        "Body Body Body"
        "Foot Foot Foot";
    grid-area: Content;
    background-color: white;
}

.Head {
    grid-area: Head;
}

.Foot {
    grid-area: Foot;
}

.Body {
    grid-area: Body;
}