.info {
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    margin-top: 5%;
    color: white;
    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-size: xx-large;
}


iframe {


    position: absolute;
    width: 100%;
    height: 100%;
}