.more-grid {
    width: 1200px;
    height: 100%;
    min-height: 600px;
    background-color: rgba(0, 0, 0, 0.511);
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: -20%;

    border-radius: 50px;
}

.SearchBar {
    margin-top: 10%;
}