.more-butt {

    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-size: larger;
    color: white;
    width: 200px;
    height: 40px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 20px;
    transition: all 1s ease-in-out;
}

.more-butt:hover {
    cursor: pointer;
    color: black;
    width: 200px;
    height: 40px;
    background-color: white;
    border: 2px solid white;
    border-radius: 20px;
    transform: scale(1.05);
    transition: all 1s ease-in-out;

}