.AddGame {
    color: white;
    display: flex;
    padding: auto;
    margin-top: 10%;
    font-family: futura-pt,sans-serif;
    font-style: normal;
}

.GameInfo {
    font-family: futura-pt,sans-serif;
    font-style: normal;
    color: white;
    margin-top: 15%;
    display: flex;
    position: relative;
    align-items: center;
    height: 5%;    
    flex-direction: column;
    row-gap: 20px;
}