.api-img {
    margin-top: 0%;
    width: 125px;
    height: 125px;
    object-fit: cover;
    border-radius: 80px;







}

.main-api-grid:hover>#api-img {
    opacity: 0.5;
    transition: 2s;
}

.main-api-grid:hover>#api-title {
    opacity: 1;
    transition: 2s;
}

.api-title {
    width: 125px;
    text-decoration: none;
    color: white;
    font-weight: 400;
    position: absolute;
    margin-top: -10%;
    transition: all 1s ease-in-out;
    font-family: futura-pt, sans-serif;
    opacity: 0;
    z-index: 3;
}

.api-img:hover {
    opacity: 0.5;
    transition: 2s;
}