.NavBar {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: right;
    align-content: center;
    margin-top: 1%;
}

.bar {
    width: 100%;
    background-color: rgba(88, 88, 88, 0.583);
    height: 10%;
    position: absolute;

}



.NavLink {
    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-size: xx-large;
    color: white;
    text-decoration: none;
    display: flex;
    position: relative;
    margin-right: 5%;
    justify-content: space-between;
    margin-top: 0.3%;

}

.logo-nav {
    width: 15%;
    margin-top: -.7%;
    margin-right: 34%;
}