/* Popup style */
.popup-box {
    position: fixed;
    background: #000000b7;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

.box {
    position: relative;
    width: 45%;

    margin: 0 auto;
    height: auto;

    margin-top: calc(100vh - 85vh - 20px);
    background: transparent;





}

.close-submit {
    margin-right: 8%;
    color: white;
    content: 'x';
    cursor: pointer;
    position: fixed;
    right: calc(15% - 30px);
    top: calc(100vh - 85vh - 33px);
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    font-family: futura-pt, sans-serif;
    font-style: normal;

    font-size: 20px;
}