.container {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "Img Form Form"
        "Img Form Form"
        "Img Form Form"
        "Img Form Form"
        "Img Form Form"
        "Img Form Form";
}

.Form-One-Img {
    grid-area: Img;
    background: url('./betterthunder.png');
    background-size: cover;


}

.img-src {
    width: 100%;
}

.Form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 0.5fr 0.5fr 0.5fr 0.5fr 2fr;
    gap: 0px 0px;
    grid-template-areas:
        "Head Head Head"
        "name name name"
        "email email email"
        "pass pass pass"
        "confirm confirm confirm"
        "button button button";
    grid-area: Form;
    background-color: white;

}

.Head {
    grid-area: Head;
    padding-left: 10%;
    padding-top: 7%;




}

.headtext {
    color: black;
    font-family: futura-pt, sans-serif;
    font-size: 40px;
    font-weight: 400;

}

.sub-text {
    margin-top: -5%;
    color: grey;
}

.name {
    grid-area: name;
    padding-left: 10%;
    padding-right: 15%;
}



.email {
    grid-area: email;
    padding-left: 10%;
    padding-right: 15%;
}



.pass {
    grid-area: pass;
    padding-left: 10%;
    padding-right: 15%;
}



.confirm {
    grid-area: confirm;
    padding-left: 10%;
    padding-right: 15%;
}



.button {
    grid-area: button;
    padding-left: 10%;
    padding-right: 15%;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 10%;
}



.form-input {
    color: black;
    background-color: transparent;
    font-family: futura-pt, sans-serif;
    font-style: normal;
    height: 30px;
    margin-top: 5%;
    width: 100%;
    padding-left: 5%;
}

.formButt {
    margin-bottom: 10%;
    margin-top: 10%;
    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-size: larger;
    color: rgb(0, 0, 0);
    width: 200px;
    height: 40px;
    background-color: transparent;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    transition: all 1s ease-in-out;

}

.formButt:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
    width: 200px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    transform: scale(1.05);
    transition: all 1s ease-in-out;

}

.formButt2 {
    margin-left: 45%;
    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-size: small;
    color: rgb(0, 0, 0);
    width: 180px;
    height: 35px;
    background-color: transparent;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    transition: all 1s ease-in-out;

}

.formButt2:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
    width: 180px;
    height: 35px;
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    transition: all 1s ease-in-out;

}







/* .board {
    display: flex;
    background: url(./signupform.png);
    background-size: cover;
    margin: 0;
    justify-content: center;


}



.thunder {
    display: flex;
    opacity: 0.5;
}


.form-container {
    display: flex;
    flex-direction: column;

    margin-right: -60%;

}

.form-item {
    display: flex;
    align-items: center;

    margin-top: 15%;

}

.formLabel {
    color: black;
    display: flex;
    font-size: xx-large;
    margin-left: 10%;
    font-family: futura-pt, sans-serif;


}

.formInput {
    color: white;
    height: 20px;
    background-color: rgba(107, 96, 127, 0.527);


    font-family: futura-pt, sans-serif;
    font-style: normal;
}



.formButt {
    margin-bottom: 10%;
    margin-top: 10%;
    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-size: larger;
    color: white;
    width: 200px;
    height: 40px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 20px;
    transition: all 1s ease-in-out;
}

.formButt:hover {
    cursor: pointer;
    color: black;
    width: 200px;
    height: 40px;
    background-color: white;
    border: 2px solid white;
    border-radius: 20px;
    transform: scale(1.05);
    transition: all 1s ease-in-out;

}

.headtext {
    color: black;
    font-family: futura-pt, sans-serif;
    font-size: 40px;
    font-weight: 400;



} */